<html>
<head><link rel="stylesheet" type="text/css" href="home.css"></head>
<img src="Untitled-6.jpg">
<h2>Home Page</h2>
<div class="toolbar">
<a href="file:///home/cse2017/Website/Web/app/views/homepage/home.html.erb" class="home">Home Page</a>
<a href="file:///home/cse2017/Website/Web/app/views/about_us/about.html.erb" class="about">About us</a>
<a href="file:///home/cse2017/Website/Web/app/views/contact_us/contact.html.erb" class="contact">Contact us</a>
</div>
<p>Welcome to our Website !</p>
<div class="photos" >
<a class="donald" href="/home/cse2017/Website/Web/app/views/donald/donald.html.erb"><img src="images.jpeg"></a>
<a class="goofy" href="/home/cse2017/Website/Web/app/views/goofy/goofy.html.erb"><img src="index.jpeg"></a>
<a class="mickey" href="/home/cse2017/Website/Web/app/views/mickey/mickey.html.erb"><img src="Mickey-Mouse-1.gif"></a>
</div>
<h3>Click on the Picture You Like!</h3>
<h4>--------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
</html>
<!--<a class="image" href="file:///home/cse2017/Website/Web/app/views/contact_us/contact.html.erb"><img src="images.jpeg"></a>-->