<html>
<head><link rel="stylesheet" type="text/css" href="home.css"></head>
<h1>Homepage</h1>
<div class="toolbar">
<a href="homepage/home" class="home">Home Page</a>
<a href="about_us/about" class="about">About us</a>
<a href="contact_us/contact" class="contact">Contact us</a>
</div>
<p>Welcome</p>
<a class="image" href="file:///home/cse2017/Website/Web/app/views/contact_us/contact.html.erb"><img src="images.jpeg"></a>
</html>