<html>
<head><link rel="stylesheet" type="text/css" href="home.css"></head>
<h1>Homepage</h1>
<p>Welcome</p>
<div class="toolbar">
<a class="home" href="file:///home/cse2017/WebSite/Web/app/views/homepage/home.html.erb">Home Page</a>
<a class="about" href="file:///home/cse2017/WebSite/Web/app/views/about_us/about.html.erb">About us</a>
<div class="contact">Contact us</div>
</div>
<a class="image" href="file:///home/cse2017/WebSite/Web/app/views/about_us/about.html.erb"><img src="Donald Duck.png"></a>
</html>