<html>
<head><link rel="stylesheet" type="text/css" href="home.css"></head>
<h1>Homepage#home</h1>
<p>Welcome</p>
</html>
<% @array.each do |n| %>
	<%= n %><br />
<% end %>
<a href="/about_us/about">About us</a><br />