<html>
<head><link rel="stylesheet" type="text/css" href="home.css"></head>
<h1>Homepage</h1>
<p>Welcome</p>
<a href="/about_us/about">About us</a><br />
<a href="/about_us/about"><img src="Donald Duck.png"></a>
</html>