h1 {
	color: red;
	margin-left: 40%;
}
p {
	font-size: 30px;
}
.toolbar{
	width: 100%;
	display: flex;
	background-color: #6f24d4;
}
.home{
	width: 30%;
	background-color: yellow;
}
.about{
	width: 30%;
	background-color: green;
}
.contact{
	width: 30%;
	background-color: #6f24c4;
}

*{
	background-color: #555;
}