<html>
<head><link rel="stylesheet" type="text/css" href="about.css"></head>
<body>
<h1>About Us</h1>
<p> We are a group consists of 3 students at faculty of engineering, Ain shams university "third year, computer and system department", We have co-ordinated together to make this website as a project for software engineering subject under the supervision of Eng: Omar Amin.</p>
<div class="image"> <img src="thank-you-for-your-support-graphic-2/about_us/views/app/Web/WEBSITE.jpg"> </div>
</body>
</html>