<html>
<head><link rel="stylesheet" type="text/css" href="about.css"></head>
<body>
<h1>Live ALbum</h1>
<h2>About Us</h2>
<div class="toolbar">
<a href="file:///home/cse2017/Website/Web/app/views/homepage/home.html.erb" class="home">Home Page</a>
<a href="file:///home/cse2017/Website/Web/app/views/about_us/about.html.erb" class="about">About us</a>
<a href="file:///home/cse2017/Website/Web/app/views/contact_us/contact.html.erb" class="contact">Contact us</a>
</div>
<p>We are a group consists of 3 students at faculty of engineering, Ain shams university "third year, computer and system department", We have co-ordinated together to make this website as a project for software engineering subject under the supervision of Eng: Omar Amin.</p>
<div class="image"> <img src="thankyou.png"> </div>
</body>
<h3>-----------------------------------------------------------------------------------------------------------------------------------------------------</h3>
</html>