<html>
<head><link rel="stylesheet" type="text/css" href="contact.css"></head>
<body>
<h1>ContactUs</h1>
<h2>We will provide you with our mails and bench numbers </h2>
<h3> Peter Nagy Alfred Micheal:
	Mail:***********
	Bench number:*****
	 </h3>
<h4> Beshoy Demian:
	Mail:*****
	Bench number:*****
</h4>
<h5> Peter Hany Alfy Morcos:
	Mail:*******
	Bench number: *****
</h5>

<p>We Hope you have enjoyed our site</p>
</body>
</html>