<html>
<head><link rel="stylesheet" type="text/css" href="contact.css"></head>
<body>
<h1>Contact Us</h1>
<h2>We will provide you with our mails and bench numbers: </h2>
<h3> (1) Peter Nagy Alfred Micheal: <br>	Mail:******@hotmail.com   Bench number:***** .

	</h3>

<h4> (2) Beshoy Demian: <br>
	 Mail:*****@**.com    Bench number:***** .
	</h4>

<h5> (3) Peter Hany Alfy Morcos: <br> 
	Mail:*******@gmail.com           Bench number: ***** .
</h5>

<p> "We Hope you have enjoyed our site" </p>
<h6> &#169; all rights reserved </h6>
</body>
</html>