<html>
<head><link rel="stylesheet" type="text/css" href="contact.css"></head>
<body>
<<<<<<< HEAD
<h1>Live ALbum</h1>
<h2>About Us</h2>
<div class="toolbar">
<a href="file:///home/cse2017/Website/Web/app/views/homepage/home.html.erb" class="home">Home Page</a>
<a href="file:///home/cse2017/Website/Web/app/views/about_us/about.html.erb" class="about">About us</a>
<a href="file:///home/cse2017/Website/Web/app/views/contact_us/contact.html.erb" class="contact">Contact us</a>
</div>
<h3>We will provide you with our mails and bench numbers </h3>
<h4> Peter Nagy Alfred Micheal:
	Mail:***********
	Bench number:*****
	 </h4>
<h4> Beshoy Demian:
	Mail:*****
	Bench number:*****
</h4>
<h4> Peter Hany Alfy Morcos:
	Mail:*******
	Bench number: *****
</h4>
=======
<h1>Contact Us</h1>
<h2>We will provide you with our mails and bench numbers: </h2>
<h3> (1) Peter Nagy Alfred Micheal: <br>	Mail:******@hotmail.com   Bench number:***** .

	</h3>

<h4> (2) Beshoy Demian: <br>
	 Mail:*****@**.com    Bench number:***** .
	</h4>

<h5> (3) Peter Hany Alfy Morcos: <br> 
	Mail:*******@gmail.com           Bench number: ***** .
</h5>
>>>>>>> 9d8a3c2255b6bde1036b408abb2ccc5138c0bca1

<p> "We Hope you have enjoyed our site" </p>
<h6> &#169; all rights reserved </h6>
</body>
</html>