h1 {
	color: #71C671;
	margin-left: 40%;
}

h2{
	color:#00FF7F;
	font-size: 150%;
}
h3{
	font-size: 130%;
	color: black;
	font-style: oblique;
	
}
h4{
	font-size: 130%;
	color: black;
	font-style: oblique;
}
h5{
	font-size: 130%;
	color: black;
	font-style: oblique;
}
p {
	font-size: 130%;
	color: black;
	font-style: oblique;
	margin-left: 30%;
}

h6{
		margin-left:40%;
}

*{
	background-color: #27408B;
}