<html>
<head><link rel="stylesheet" type="text/css" href="contact.css"></head>
<body>
<a href="file:///home/cse2017/Website/Web/app/views/homepage/home.html.erb" class="home"><img src="Untitled-6.jpg"></a>
<h2>About Us</h2>
<div class="toolbar">
<a href="file:///home/cse2017/Website/Web/app/views/homepage/home.html.erb" class="home">Home Page</a>
<a href="file:///home/cse2017/Website/Web/app/views/about_us/about.html.erb" class="about">About us</a>
<a href="file:///home/cse2017/Website/Web/app/views/contact_us/contact.html.erb" class="contact">Contact us</a>
</div>
<h3>We will provide you with our mails and bench numbers </h3>
<h4> Peter Nagy Alfred Micheal:
	Mail:***********
	Bench number:*****
	 </h4>
<h4> Beshoy Demian:
	Mail:*****
	Bench number:*****
</h4>
<h4> Peter Hany Alfy Morcos:
	Mail:*******
	Bench number: *****
</h4>
<p> "We Hope you have enjoyed our site" </p>
<h6> &#169; all rights reserved </h6>
</body>
</html>