h1{
	font-family: arial;
	color: white;
}
h2{
	margin-left: 40%;
	color: #71C671;
	font-size: 30px;
}
.toolbar{
	width: 100%;
	display: flex;
	background-color: #6f24d4;
}
a.home {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center ;

    text-decoration: none;
    width: 33%;
	font-size: 25px;
	background-color: yellow;
}
a.about{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center ;
    text-decoration: none;
	width: 33%;
	font-size: 25px;
	background-color: green;
}
a.contact{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center ;
    text-decoration: none;
	width: 33%;
	font-size: 25px;
	background-color: #6f24c4;
}

*{
	background-color: #27408B;
}
.goofy{
	margin-top: 100px;
	margin-left: 150px;
}
form{
	margin-top: 200px;
}
input {
	background-color: #4A708B;
	color: #00FF7F;
}